<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        ul.errorlist
        {
            list-style: none;
        }

           ul.errorlist li
        {
            color: red;
        }
    </style>

</head>
<body>

{% block form %}

<h1>Добавить автора</h1>

<form action="add-author/" method="post">
    {% csrf_token %}

    {{ author.as_p }}
    <input type="submit" value="Submit">
</form>
<hr>

<h1>Добавить статью</h1>

<form action = "add-article/"  method = "post" >
    {%  csrf_token  %}
    {{  article.as_p }}
    <input  type = "submit"  value = "Submit" />
</form >
<hr>

<h1>Контактная форма</h1>

<form action="/lesson-fifth/" method="post">
    {% csrf_token %}

    {{form_contact.as_p}}
    <input  type = "submit"  value = "Submit">
</form>
<hr>
{% endblock %}

</body>
</html>